.cart-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: -430px;
  top: 0;
  height: 100vh;
  width: 430px;
  z-index: 100;
  background-color: white;
  transition: ease-in-out 0.3s;
  padding: 50px 20px 50px 50px;
}
.show-cart-bar {
  right: 0;
}
.cart-bar-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-top: 40px;
  font-weight: bold;
}
.cart-bar-item-list {
  min-height: 500px;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 20px;
}

.cart-bar-item-list::-webkit-scrollbar {
  width: 4px;
}
.cart-bar-item-list::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 4px;
}

.cart-bar-no-item {
  font-size: 18px;
  color: #999;
}
.cart-bar-my-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 30px;
}
.cart-bar-my-item-img {
  width: 90px;
  height: 120px;
  margin-right: 30px;
}
.cart-bar-my-item-info {
  width: 160px;
  line-height: 25px;
}
.cart-bar-my-item-display {
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  width: 90%;
  height: 90%;
}
.cart-bar-total-price {
  margin-left: 20px;
  margin-right: 60px;
}
.cart-bar-checkout-btn {
  border-radius: 5px;
  height: 40px;
  width: 150px;
  border: none;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.cart-bar-checkout-btn:hover {
  color: white;
  background-color: rgb(38, 177, 231);
}
.delItem {
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: ease-in 0.3s;
  border-radius: 2px;
}
.delItem:hover {
  background-color: red;
  color: white;
}
.cart-bar-title-text {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}
#closeCart {
  cursor: pointer;
  transition: ease-in 0.3s;
  font-size: 25px;
  /* line-height: none; */
  margin-right: 20px;
}
#closeCart:hover {
  color: red;
}
.footer-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
}
