@media screen and (max-width: 1750px) {
  .show-products-items-img,
  .product-img {
    height: 280px;
  }
}
@media screen and (max-width: 1650px) {
  .show-products-items-img,
  .product-img {
    height: 260px;
  }
}
@media screen and (max-width: 1540px) {
  .banner-content-description {
    font-size: 50px;
  }
  .show-products-items-img,
  .product-img {
    height: 300px;
  }
  .show-products-items-card {
    width: 33.3%;
  }
  .item-detail-content {
    justify-content: space-between;
  }
  .popup-item-detail {
    width: 90%;
  }
}
@media screen and (max-width: 1320px) {
  .banner-content-description {
    font-size: 40px;
  }
  .banner-content {
    right: 280px;
  }
  .show-products-items-img,
  .product-img {
    height: 280px;
  }

  .show-products-items-card {
    height: 400px;
  }
  .footer {
    height: 400px;
  }
  .footer-info {
    width: 90%;
  }
  .footer-info-type {
    line-height: 30px;
  }

  .footer-info-form > input {
    font-size: 14px;
  }
  .footer-info-btn {
    height: 35px;
  }
}
@media screen and (max-width: 1240px) {
  .banner {
    height: 95vh;
  }
  .show-products-items-img,
  .product-img {
    height: 250px;
  }

  .footer-info-type {
    width: 220px;
  }
  .checkout {
    width: 95%;
    height: 70%;
    padding: 20px;
  }
  .item-detail-img {
    margin: 15px;
  }
}

@media screen and (max-width: 1180px) {
  .header-container {
    padding: 0px 35px;
  }
  .banner-content {
    right: 180px;
  }
}

@media screen and (max-width: 1100px) {
  .header-container-logo-img {
    width: 90px;
    height: 37.5px;
  }
  .banner-content-description {
    font-size: 40px;
  }
  .banner-content {
    right: 200px;
  }
  .show-products-items-img,
  .product-img {
    height: 200px;
  }
  .show-products-items-card {
    height: 300px;
  }
  .product-desc {
    font-size: 14px;
  }
  .footer {
    height: 380px;
  }
  .footer-info-type {
    width: 200px;
  }
}
@media screen and (max-width: 1100px) {
  .banner {
    height: 85vh;
  }
  .banner-content {
    right: 160px;
  }
  .show-products-items-card {
    width: 33.3%;
  }
  .head-li {
    font-size: 14px;
  }
  .header-container-btn-icon {
    font-size: 14px;
  }
  .product-total {
    width: 30%;
  }
  .product-total-head {
    font-size: 25px;
  }
  .checkout-cart-total > h6 {
    font-size: 14px;
  }
  .proceed-btn,
  .coupon-code,
  .coupon-btn,
  .update-btn {
    font-size: 14px;
  }
  .product-sum {
    width: 70%;
  }
  .product-sum-detail > td {
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px) {
  .show-products-items-card {
    width: 50%;
  }

  .show-products-items-img,
  .product-img {
    height: 280px;
  }
  .show-products-items-card {
    height: 380px;
  }
  .footer {
    padding: 0;
  }
  .item-detail-img {
    width: 60%;
  }
  .item-detail-buy {
    width: 40%;
  }
  .item-detail-add-remove-btn,
  #itemQty {
    width: 40px;
    height: 40px;
  }
  .item-detail-add-to-cart-btn {
    height: 40px;
  }
}
@media screen and (max-width: 940px) {
  .banner {
    height: 80vh;
  }
  .show-products-items-card {
    width: 50%;
  }

  .footer {
    height: 330px;
  }
  .checkout {
    height: 67%;
  }
  .proceed-btn,
  .coupon-code,
  .coupon-btn,
  .update-btn {
    font-size: 10px;
  }
  .product-total {
    padding: 20px;
  }
  .product-sum-detail > td {
    padding: 10px 0;
  }
  .item-detail-img {
    width: 65%;
  }
  .item-detail-buy {
    width: 35%;
  }
  .item-detail-buy {
    margin: 20px;
  }
  .item-detail-add-remove-btn,
  #itemQty {
    width: 25px;
    height: 30px;
  }
  #itemQty {
    font-size: 14px;
  }
  .item-detail-add-to-cart-btn {
    height: 30px;
  }
}

@media screen and (max-width: 920px) {
  .banner-content {
    right: 110px;
  }
  .footer {
    height: auto;
    padding: 30px 0px;
  }
  .footer-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-info-type {
    width: 75%;
    margin-bottom: 50px;
    line-height: 20px;
  }
  .footer-info-type > div {
    flex-direction: row;
  }
  .footer-info-type > div > span {
    margin: auto;
  }
  .footer-info-btn {
    margin-top: 20px;
  }
  .footer-info-type > h5 {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .item-detail-info-name {
    font-size: 30;
  }
  .item-detail-info-price {
    font-size: 25px;
  }
  .item-detail-add-to-cart-btn {
    margin-left: 20px;
  }
}
@media screen and (max-width: 810px) {
  .banner {
    height: 67vh;
  }
  .banner-content {
    right: 70px;
    background-color: rgba(255, 255, 255, 0.267);
    padding: 30px;
    border-radius: 10px;
  }
}
/* since 790 add hambeger menu */
@media only screen and (max-width: 790px) {
  .menu-active {
    display: block !important;
  }
  .banner-button-next,
  .banner-button-prev,
  .header-container-btn-icon,
  .header-container-menu-list {
    display: none;
  }
  .ham-menu {
    display: inline-block;
  }

  .hambar,
  .li-cart {
    position: relative;
    top: 20px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    background-color: white;
    padding: 20px;
    padding-left: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.425);
  }

  .header-container {
    flex-direction: column;
  }
  .header-container-menu {
    position: relative;
    top: 60px;
    width: 110%;
    z-index: 10000 !important;
  }
  .header-container-logo-img {
    position: fixed;
    left: 30px;
    top: 30px;
  }
  .ham-menu {
    position: fixed;
    right: 30px;
    top: 20px;
  }
  .whiteBg {
    background-color: white;
    height: 120px;
  }
  .cart-bar {
    width: 100%;
  }
  .showQty {
    left: 90px;
    top: 15px;
  }
  .cart-bar-my-item {
    width: 90%;
  }
  .cart-bar-my-item-display {
    width: 100%;
    height: 100%;
  }
  .cart-bar-my-item-info {
    width: 400px;
  }
  .cart-bar-my-item-info {
    margin-right: auto;
  }
}
