* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  background-color: white;
}

ul {
  list-style-type: none;
}
p {
  font-size: 16px;
}

/* Show Products */
.show-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px auto;
  width: 68%;
}
.show-products-header > h2 {
  font-size: 40px;
  margin-bottom: 10px;
}
.show-products-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.show-products-filters-menu {
  display: flex;
  flex-direction: row;
}
.show-products-filters-menu > li {
  margin-right: 40px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.show-products-filters-menu > li:hover {
  text-decoration: underline;
  color: rgb(38, 177, 231);
}

/* Drop down search */
.show-products-filters-search {
  position: relative;
}
.show-products-search-btn {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  background-color: transparent;
  height: 40px;
  padding: 0 30px;
  color: rgba(0, 0, 0, 0.349);
  transition: ease-in-out 0.3s;
}
.show-products-search-btn:hover {
  background-color: rgb(38, 177, 231);
  color: white;
}

.show-products-searchbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 0px;
}

.show-products-searchbar-arrow {
  position: relative;
  opacity: 0;
  transition: ease-in-out 1s;
  margin-right: 38px;
  border-bottom: solid 20px rgba(38, 176, 231, 0.678);
  border-right: solid 20px transparent;
  border-left: solid 20px transparent;
  z-index: 3;
}

.show-products-searchbar-box {
  position: relative;
  opacity: 0;
  padding: 10px;
  width: 40%;
  border: 1px solid rgba(18, 136, 182, 0.548);
  outline: none;
  z-index: -2;
  color: rgb(38, 177, 231);
  transition: ease-in-out 1s;
}
.show-products-searchbar-box::placeholder {
  color: rgba(18, 136, 182, 0.548);
}

.searchBarClick,
.searchDropClick {
  display: inline;
  opacity: 1;
  z-index: 1;
}
.searchBtnClick {
  background-color: rgb(38, 177, 231);
  color: white;
  border-color: transparent;
}
.searchBarClick {
  margin-bottom: 50px;
}

/* Product Card */

.show-products-items-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.show-products-items-card {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: auto;
  padding: 30px;
}
.show-products-items-img {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
.show-products-items-img:hover {
  filter: white(12);
}

.product-img {
  position: relative;
  width: 100%;
  height: 300px;
  object-fit: fill;
  padding: 30px;
  border: 0.3px solid rgba(0, 0, 0, 0.123);
  border-radius: 10px;
  transition: ease-in-out 0.5s;
}
.product-img:hover {
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.37);
}
.show-products-items-btn {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 0;
  transition: ease-in-out 0.5s;
  top: -100px;
}

.transition-btn {
  opacity: 1;
}
.show-products-items-btn > button {
  position: relative;
  border-radius: 40px;
  width: 50%;
  height: 50px;
  border: none;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
.show-products-items-btn > button:hover {
  color: white;
  background-color: black;
}
.show-products-items-btn > button:focus {
  border: none;
  outline: none;
}
.show-products-items-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}
.product-desc {
  margin-top: 20px;
  color: grey;
  cursor: pointer;
  transition: ease-in-out 0.1s;
}
.product-desc:hover {
  color: rgb(38, 177, 231);
}
.product-price {
  font-weight: bold;
  margin-top: 10px;
}
/* Load More */
.load-more-item {
  display: flex;
  justify-content: center;
}
.load-more-item > button {
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
.load-more-item > button:hover {
  color: white;
  background-color: rgb(38, 177, 231);
}
.fav {
  font-weight: light;
  margin-bottom: 10px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.fav:hover {
  color: rgb(38, 177, 231);
}
